.college-heading{
  margin-bottom: 1rem;
}

.college-name{  
  h2{
    margin: 1rem 0;
    max-width: 85%;
  }
  .cost{
    color: #fff;
    position: absolute;
    top: 1.4rem;
    right: 1rem;
    text-align: center;
    
    .increment{
      border-radius: 50%;
      width: 20px;
      height: 20px;      
      background: #444;
      display: inline-block;
      vertical-align: bottom;
    }
    .fa{
      font-size: .7rem;
      vertical-align: middle;
      margin-top: -7px;
    }
  }
}

.tertiary{
  background: $light-grey;
  
  .location-info{
    p{
      &.no-margin{
        margin: 0;
      }
      &:last-of-type{
        margin: 0;
      }
      text-align: left;
    }
  }
  .map{
    width: 100%;
    box-shadow: 0px 1px 3px 1px $dark-grey;
  }
  
  .gender-split{
    p{
      margin: .5rem 0px 0px 0px;
      &:first-of-type{
        margin: 0;
      }
      &.no-margin{
        margin: 0;
      }
    }
  }
  
  .student-stats{
    text-align: left;
    h5{
      font-size: 1rem;
    }
    ul{
      list-style-type: square;
    }
    li{
      font-size: .8rem;
    }
  }
  
  .important-dates{
    p{
      margin: 0;
      .fa{
        font-size: 1.5rem;
        color: $primary-color;
      }
    }
    .date{
      margin-top: 1rem;
      background: $dark-grey;
      padding: .25rem 0;
      h6{
        color: #fff;
      }
      border-radius: 3px;
    }
  }
  
  .connection-info{
    .social{
      font-size: 2rem;
      color: $body-font-color;
    }
  }
  
  .alumni-info{
    .alumni-blurb{
      background: #fff;
      border: 1px solid $dark-grey;
      border-bottom: 4px solid $dark-grey;
      margin-bottom: 1rem;
      &.last-of-type{
        margin-bottom: 0;
      }
      padding: .5rem 0;
      .blurb{
        .quote{
          font-style: italic;
        }
      }
    }
    
    .user-photo{
      box-sizing: border-box;
      margin-top: .5rem;
      img{
        border: 1px solid $dark-grey;
        width: 75px;
        height: auto;
      }
    }
  }
}

