.grid{
    .item{
      box-sizing: border-box;
      border: 1px solid #fff;
      border-width: 0 1px 1px 0;
      &:last-of-type{
        //border-width: 0 0 1px 0;
      }
      img{
        width: 100%;
      }
      .overlay{
        position:absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: #444;
        background: $dark-grey;
        p{
          color: #fff;
          font-size: .6rem;
          margin: 0;
          padding: .15rem 0;
          text-align: center;
        }
      }
      &.user{
        img{
          border-radius: 10px;
        }
        .overlay{
          border-radius: 0 0 10px 10px;
        }
      }
    }
  }
