.nav{
  width: 100%;
  background: #444;
  background: rgba(68,68,68,.75);
  padding: .3rem 0;
  max-height: 40px;
  border-bottom: 1px solid #5b5b5b;
  
  .fa{
    color: #fff;
  }
  
  .search-wrapper{
    text-align: center;
    input{
      font-size: .7rem;
      margin: 0;
      height: 1.75rem;
    }
  }
}

.more-info{
  text-align: right;
  font-size: .8rem;
}

.section-title{
  background: #ccc;
  background: $light-grey;
}

.section{
  margin-bottom: 1rem;
}

.slick-prev, .slick-next{
  top: 28px;
}

.slick-next{
  right: 0;
  &:before{
    color: $dark-grey;
  }
}

.slick-prev{
  left: 0;
  &:before{
    color: $dark-grey;
  }
}

.info-section{
  text-align: center;
  padding: .5rem;
  p{
    font-size: .7rem;
    &:last-of-type{
      margin: 0;
    }
  }
}

.highlight{
  color: $primary-color;
}

.button{
  border-radius: 3px;
  &.small{
    padding: .5rem 1rem;
  }
  &.no-bottom-margin{
    margin-bottom: 0;
  }
}

.big-button{
  margin-top: 1rem;
  .button{
    width: 100%;
  }
  &.top{
    margin-top: 1rem;
    padding-top: 1rem;
  }
  &.no-margin{
    margin: 0;
  }
}

.all-caps{
  text-transform: uppercase;
  color: $dark-grey;
  font-weight: bold;
}

.grey-background{
  background: $light-grey;
}

.social-section{
  margin-top: 1rem;
  h3{
    color: $primary-color;
  }
}


.social-info{
  text-align: center;
  .users{
    background: $light-grey;
  }
  .user, .item{
    float: left;
    overflow: hidden;
    width: 50%;
    height: 50%;
    box-sizing: border-box;
    img{
      width: 110%;
      cursor: pointer;
    }
    &.empty{
      img{
        cursor: default;
      }
    }
  }
  .more-info{
    text-align: right;
  }
  
  h5{
    margin-bottom: 0;
    &.small{
      font-size: 1rem;
      margin: 0 0 .5rem 0;
      font-size: .7rem;
    }
  }
}

.tertiary{
  background: $light-grey;
  
  h3{
    font-size: .9rem;
    text-align: center;
    margin-bottom: 2rem;
    padding-top: 1rem;
    color: $dark-grey;
  }
  
}
