.nav-menu{
  ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  li{
    padding: 1rem 0;
    border-bottom: 1px solid $light-grey;
    &:last-of-type{
      border-bottom: 0;
    }
  }
  a{
    color: white;
    padding: 0 0 0 .5rem;
  }
  .circle{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    text-align: center;
    .fa{
      color: $body-font-color;
      vertical-align: middle;
      font-size: .8rem;
      margin-top: -8px;
    }
  }
}
