.portal-page{
  .welcome{
    margin: 1rem 0;
    .notifications{
      p{
        font-size: .7rem;
        font-weight: bold;
        &.none{
          color: $dark-grey;
        }
        &:first-of-type{
          margin: 1rem 0 .5rem 0;
        }
      }
    }
  }
  
  .welcome-message{
    h2{
      margin-bottom: 0;
    }
  }
  
  .user-photo{
    img{
      border: 1px solid $dark-grey;
    }
  }
  
  .edit-profile{
    p{
      font-size: .6rem;
      font-weight: bold;
      margin-bottom: .25rem;
    }
  }
  
  .trending{
    p{
      font-size: .7rem;
      margin: .25rem;
    }
  }
  
  .more-info{
    margin: 1rem 0 0 0;
  }
  
  .following{
    margin-bottom: 0;
    font-size: .8rem;
  }
}
