.profile-page{
  .sliders{
    h6{
      margin: 0;
      color: $dark-grey;
      font-size: .7rem;
      text-align: left;
      text-indent: 5px;
    }
    .slider{
      margin-bottom: 1rem;
      width: 223px;
      margin: 0 auto 1.5rem auto;
      img{
        display: inline-block;
      }
    }
  }
  
  .profile-info{
    h5{
      font-size: .8rem;
      font-weight: bold;
      margin-bottom: 2rem;
    }
  }
  
  .recent-activity{
    ul{
      text-align: left;
      list-style-type: square;
      padding: 0 4rem;
    }
    
    li{
      font-size: .8rem;
      margin-bottom: .75rem;
    }
  }
  
  .user-info{
    text-align: center;
    padding: 0 0 1rem 0;
  }
  
  .user-photo{
    img{
      border: 1px solid $dark-grey;
    }
  }
  
  .user-interests{
    margin-top: 1rem;
    .item{
      background: #fff;
      text-align: center;
      p{
        margin: 0;
        padding: 1rem 0;
        .fa{
          font-size: 1.5rem;
          color: $dark-grey;
        }
      }
    }
    .more-info{
      font-size: .7rem;
      margin-top: 1rem;
    }
  }
  
  .tertiary-info{
    text-align: center;
  }
}
