/*
Error: Undefined variable: "$light-grey".
        on line 30 of /Users/jeff/Sites/college_social/mockups/scss/layout.scss

25:   font-size: .8rem;
26: }
27: 
28: .section-title{
29:   background: #ccc;
30:   background: $light-grey;
31: }
32: 
33: .section{
34:   margin-bottom: 1rem;
35: }

Backtrace:
/Users/jeff/Sites/college_social/mockups/scss/layout.scss:30
/Users/jeff/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.9/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/jeff/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.9/lib/sass/script/tree/node.rb:50:in `perform'
/Users/jeff/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:384:in `visit_prop'
/Users/jeff/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/jeff/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/jeff/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.9/lib/sass/stack.rb:79:in `block in with_base'
/Users/jeff/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
/Users/jeff/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.9/lib/sass/stack.rb:79:in `with_base'
/Users/jeff/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/jeff/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:420:in `block (2 levels) in visit_rule'
/Users/jeff/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:420:in `map'
/Users/jeff/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:420:in `block in visit_rule'
/Users/jeff/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/jeff/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:418:in `visit_rule'
/Users/jeff/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/jeff/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/jeff/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.9/lib/sass/stack.rb:79:in `block in with_base'
/Users/jeff/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.9/lib/sass/stack.rb:115:in `with_frame'
/Users/jeff/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.9/lib/sass/stack.rb:79:in `with_base'
/Users/jeff/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/jeff/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/jeff/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/jeff/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/jeff/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/jeff/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/jeff/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/jeff/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/jeff/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/jeff/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.9/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/jeff/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/jeff/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.9/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/jeff/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.9/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/jeff/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.9/lib/sass/tree/root_node.rb:20:in `render'
/Users/jeff/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.9/lib/sass/engine.rb:268:in `render'
/Users/jeff/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/jeff/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/jeff/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:209:in `each'
/Users/jeff/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/jeff/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/Users/jeff/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:328:in `block in watch'
/Users/jeff/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.9/vendor/listen/lib/listen/listener.rb:252:in `call'
/Users/jeff/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.9/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/Users/jeff/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.9/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/Users/jeff/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.9/vendor/listen/lib/listen/adapter.rb:254:in `call'
/Users/jeff/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.9/vendor/listen/lib/listen/adapter.rb:254:in `report_changes'
/Users/jeff/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.9/vendor/listen/lib/listen/adapter.rb:323:in `poll_changed_directories'
/Users/jeff/.rvm/gems/ruby-2.0.0-p247/gems/sass-3.4.9/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$light-grey\".\A         on line 30 of /Users/jeff/Sites/college_social/mockups/scss/layout.scss\A \A 25:   font-size: .8rem;\A 26: }\A 27: \A 28: .section-title{\A 29:   background: #ccc;\A 30:   background: $light-grey;\A 31: }\A 32: \A 33: .section{\A 34:   margin-bottom: 1rem;\A 35: }"; }
